<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/tipuesearch/css/tipuesearch.css">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/assets/tipuesearch/tipuesearch_content.js"></script>
  <script src="/assets/tipuesearch/tipuesearch_set.js"></script>
  <script src="/assets/tipuesearch/tipuesearch.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.0/axios.min.js"></script>
  <script src="/assets/js/common.js"></script>
  <meta name="google-signin-client_id" content="306352722636-apf5s6bge6spaalkek7pf119ci9qu451.apps.googleusercontent.com">
  <meta name="google-signin-scope" content="https://www.googleapis.com/auth/analytics.readonly">
  {% include ga.html %}
</head>