.current {
  color: #31408e
}

.list_maincategory > li {
  font-size:20px;
  background-color:powderblue;
}

.list_subcategory {
  margin-left: 20px;

  & > li {
    font-size:15px;
    background-color:tan;
  }
}

.list_mainpost {
  margin-left: 20px;

  & > li {
    background-color: #009926;
  }
}

.list_subpost {
  margin-left: 20px;

  & > li {
    background-color: goldenrod;
  }
}