.current {
  color: #31408e
}

.list_maincategory > li {
  font-size:20px;
  background-color:powderblue;
}

.list_subcategory > li {
  font-size:15px;
  background-color:tan;
}

.list_mainpost > li {
  background-color: #009926;
}

.list_subpost > li {
  background-color: goldenrod;
}